
.container {  
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px;
}

#btn_primero {
    display: flex;
    font-size: 30px;
    color: black;
    border: black 2.5px solid;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 50px;
    height: 80px;
    width: 250px;    
    cursor: pointer;
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.3); /* offsetX, offsetY, blurRadius, color */
}

#btn_segundo {
    display: flex;
    font-size: 39px;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border-radius: 100px;
    height: 80px;
    width: 80px;    
    cursor: pointer;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3); /* offsetX, offsetY, blurRadius, color */
}

#btn_tercero {
    display: flex;
    font-size: 30px;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 152, 252);
    height: 80px;
    width: 250px;    
    cursor: pointer;
    box-shadow: 25px 15px 25px rgba(0, 0, 0, 0.3); /* offsetX, offsetY, blurRadius, color */
}   

