body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 650px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.profile-head {
    height: 60px;
    background-color:lightblue;
}

.profile-content {
    padding: 20px;
    text-align: left;
    margin-top: 50px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 10px 0;
    font-size: 25px;
}

h2 {
    margin: 5px 0;
    font-size: 16px;
    color: gray;
}

h3 {
    margin: 5px 0;
    font-size: 18px;
    color: gray;
}

p{
    font-size: 16px;
    color: gray;
}

.edit-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    font-size: 15px;
    box-shadow: rgb(83, 81, 81) 0 0 10px
}

.edit-btn:hover {
    background-color: #ccc;
}
