h1 {text-align: center;
    text-decoration: underline;
}


.box1 {
    color: white;
    text-align: center;
    background-color: lightseagreen;
    width: 350px;
    height: 100px; 
    margin-right: 100px;
}

.box2 {
    color: white;
    text-align: center; 
    background-color: fuchsia;  
    width: 350px;
    height: 100px;
    margin-right: 100px;
}

.box3 {
    color: white;
    text-align: center;
    background-color: navy; 
    width: 350px;   
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}